.container.main {
  margin-top: 4em;
}

.container.comment {
  margin-bottom: 2em;
}

#delete {
  display: inline;
}

i.icon {
  font-size: 2em;
}

.ui.items>.item>.image>img {
  height: 148px;
}

#btn a {
  width: 100%;
}

#ce {
  margin-bottom: 1em;
}

#de input {
  width: 100%;
}
